data/
Minesweeper.VC.VC.opendb
Minesweeper.VC.db
TMP/
assets/
reports/
Debug/
Minesweeper.opensdf
Minesweeper.sdf
scores.scr
Release/
.vs/Minesweeper/v14/.suo
Minesweeper.v12.suo
content/obj/cube.obj
